@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(34, 146, 163);
}

.container {
    width: 690px;
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
}



.wrapper {
    border: 1px solid #bbb;
    border-radius: 5px;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text {
    border-radius: 0px;
    border-left: 1px solid #bbb;
}


.voice_to_text textarea {
    height: 250px;
    width: 100%;
    outline: #411414;
    border: #411414;
    font-size: 18px;
    border-radius: 5px;
    background-color: none;
    padding: 10px 15px;
    resize: none;
}


.text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background-color: none;
    padding: 10px 15px;
    resize: none;
}

.controls, li, .icons, .icons i {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}

.controls .row.from .icons {
    padding-right: 15px;
    border-right: 1px solid #bbb;
}

.controls .row.to .icons {
    padding-left: 15px;
    border-left: 1px solid #bbb;
}

.controls .icons {
    width: 38%;
}

.controls .icons i {
    color: #9f9f9f;
    font-size: 14px;
    width: 50px;
    justify-content: space-between;
    cursor: pointer;
}

.controls .icons i:hover {
    color: #5372f0;
}

.controls .row select {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

.controls .row select:hover {
    color: #411414;
}

.controls .exchange {
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}

.controls .exchange:hover {
    color: #5372F0;
}



.container button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: #5372F0;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
}


.container button:hover {
    opacity: 0.9;
}

@media (max-width: 550px) {
    .container {
        width: 350px;
        padding: 5px;
    }

    .text-input textarea {
        height: 350px;
        width: 100%;
        padding: 5px 7.5px;
    }

    .controls {
        list-style: none;
        padding: 9px 13px;
        height: 90px;
    }

    .controls .row.from .icons {
        padding-right: 7px;
        border-right: 1px solid #bbb;
    }

    .controls .icons i {
        font-size: 14px;
        width: 25px;
    }

    .controls .row.from .icons {
        padding-right: 10px;
        border-right: 1px solid #bbb;
    }
    
    .controls .row.to .icons {
        padding-left: 10px;
        border-left: 1px solid #bbb;
    }

    .controls .row select {
        font-size: 12px;
    }

    .controls .exchange {
        font-size: 10px;
        padding-right: 3px;
        padding-left: 3px;
    }

    .container button {
        width: 100%;
        padding: 14px;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .container {
        width: 350px;
        padding: 5px;
    }

    .text-input textarea {
        height: 350px;
        width: 100%;
        padding: 5px 7.5px;
    }

    .controls {
        list-style: none;
        padding: 9px 13px;
    }

    .controls .row.from .icons {
        padding-right: 7px;
        border-right: 1px solid #bbb;
    }

    .controls .icons i {
        font-size: 14px;
        width: 25px;
    }

    .controls .row.from .icons {
        padding-right: 10px;
        border-right: 1px solid #bbb;
    }
    
    .controls .row.to .icons {
        padding-left: 10px;
        border-left: 1px solid #bbb;
    }

    .controls .row select {
        font-size: 12px;
    }

    .controls .exchange {
        font-size: 10px;
        padding-right: 3px;
        padding-left: 3px;
    }

    .container button {
        width: 100%;
        padding: 14px;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 13px;
    }
}
